body {
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

#panel {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 960px;
    box-shadow: 10px 10px 15px silver, -10px 10px 15px silver;
    background-color: #d8d6d6;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td {
    border-width: thin;
    padding: 12px;
    vertical-align: top;
    border-top-style: solid;
}

.hotspot {
    margin: 0;
    color: #333;
}

ul.links {
    list-style-type: none;
    padding-inline-start: 0;
}

ul.links a {
    text-decoration: none;
    color: rgb(148, 19, 19);
    float: left;
    width: 50%;
    margin-bottom: 5px;
}

ul.links a::before {
    content: "> ";
}

.wind {
    text-align: left;
    padding-top: 15px;
    font-style: italic;
    float: left;
}

.windarc {
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#WindSelector {
    padding: 12px;
    vertical-align: top;
    text-align: center;
    font-size: 2em;
}

#WindSelector select {
    font-size: 1em;
}

.meteo-widget {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 79%;
}

.meteo-widget>iframe {
    position: absolute;
    top: -45px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}